.embla_button {
  @apply outline-0 cursor-pointer bg-transparent touch-manipulation w-8 h-8
  z-0 top-1/2 p-0 fill-gray-500 hover:fill-gray-600 absolute -translate-y-1/2
  disabled:hover:fill-gray-500
  disabled:active:fill-gray-500
  disabled:cursor-default
  disabled:opacity-30;
}

.embla_button_prev {
  composes: embla_button;
  @apply left-7;
}

.embla_button_next {
  composes: embla_button;
  @apply right-7;
}

.embla_button_svg {
  @apply w-full h-full;
}

.embla_dots {
  @apply flex justify-center pt-3;
}

.embla_dot {
  @apply cursor-pointer relative w-8 h-8 mx-2 flex items-center justify-center
  after:bg-gray-300 after:w-full after:h-1;
}

.embla_dot.is_selected {
  @apply after:bg-gray-500 opacity-100;
}
